*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

ul, ol, li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik';
    font-size: 16px;
    color: #000;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

@font-face {
    font-family: "MonumentExtended";
    src: url("../style/fonts/MonumentExtended-Regular.otf");
    src: url("../style/fonts/MonumentExtended-Ultrabold.otf");
}

[class*="__container"] {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    padding: 0px 20px;
}

main {
    flex: 1 1 auto;
}

@media (max-width: 1087px) {
    .__container {
        max-width: 970px;
    }
}
/* TABLET */
@media (max-width: 991.98px) {
    .__container {
        max-width: 750px;
    }
}
/* MOBILE */
@media (max-width: 768.98px) {
    .__container {
        max-width: none;
    }
}

/* SMALL MOBILE */
@media (max-width: 479.98px) {
}

footer {
    display: flex;
    margin: 0 auto;
    left: 0;
    bottom: 0;
}


/* BEM BLOCK */
.main__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
}

.main__text {
    font-size: 20px;
    line-height: 130%
}

.button__request-call {
    display: inline-block;
    background-color: #beae74;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Raleway';
    font-size: 15px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: background-color 0.5s ease 0s;
}

.button__request-call:hover {
    background-color: #6d5000;
}

@media (max-width: 1200px) {
    .main__title {
        font-size: 35px;
    }
    .main__text {
        font-size: 20px;
        line-height: 130%
    }
    .button__request-call {
        padding: 8px 8px;
        font-size: 10px;
    }
}

@media (max-width: 991.98px) {
    .main__title {
        font-size: 30px;
    }
    .main__text {
        font-size: 15px;
        line-height: 120%
    }
    .button__request-call {
        padding: 8px 8px;
        font-size: 10px;
    }
}

/* ========================================================================
HEADER */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 0px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__title {
    color: #fff;
    margin-left: 15px;
    font-weight: 700;
    font-size: 25px;
    line-height: 120%;
}

.header__nav {
    animation-duration: 2s;
    animation-name: nav;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.nav__item {
    margin-right: 40px;
    transition: 0.5s;
}

.nav__item:hover {
    transform: scale(1.3, 1.3);
    transition: 0.3s;
}

.header__link {
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}
.header__link:hover {
    color: rgb(241, 213, 213);  
    transition: 0.3s;
}

.nav__button {

}

.header__number {
    color: #beae74;
    font-size: 20px;
}
@media(max-width: 1200.98px) {
    .nav__item {
        margin-right: 20px;
    }
    .header__number {
        font-size: 15px;
    }
    .header__link {
        font-size: 15px;
    }
}

@media(max-width: 991.98px) {
    .nav__item {
        margin-right: 15px;
    }
    .header__number img {
        width: 20px;
    }
    .header__link {
        font-size: 12px;
    }
    .header__logo img {
        width: 40px;
    }
    .header__title {
        font-size: 20px;
    }
    .nav__button {
        font-size: 8px;
    }
}
@media(max-width: 768.98px) {
    .header__container {
        flex-direction: column;
    }
    .header__title {
        font-size: 20px;
    }
    .header__logo img {
        width: 40px;
    }
    .nav__item {
        margin-right: 15px;
        margin: 20px 0px 20px 10px;
    }
    .header__link {
        font-size: 12px;
    }
    .nav__button {
        font-size: 8px;
    }
}
@media (max-width: 375.98px) {
    .header__title {
        font-size:15px;
    }
    .header__logo img {
        width: 30px;
    }
}

/* ========================================================================
MAIN */
.main {

}
.main__container {

}

/* SERVICES */

.main__services {
    background-image: url("../images/main/main_bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    margin-bottom: 50px;
}

.main__tabs {
    display: flex;
    justify-content: space-between;
}


.main__tabs {
    animation-duration: 2s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.main__tab {
    max-width: 450px;
    text-align: center;
    background-color: rgb(148, 144, 144);
    border-radius: 15px;
    border: 3px solid #beae74;
    margin: 0px 10px 20px 10px;
    box-shadow: 0 0 15px #beae74;
}

.tab__img {
    padding: 10px 10px;
    margin-bottom: 20px;
}

.tab__title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
}

.tab__text {
    color: #fff;
    padding: 10px 10px;
}

@media(max-width: 1200.98px) {
    .main__tab {
        width: 320px;
    }
}

@media(max-width: 991.98px) {
    .main__tab {
        width: 240px;
    }
    .tab__img {
        margin-bottom: 10px; 
    }
    .tab__title {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

@media(max-width: 768.98px) {
    .main__tabs {
        flex-wrap: wrap;
        justify-content: center;
    }
    .main__tab {
        max-width: 220px;
    }
    .tab__img {
        margin-bottom: 0; 
    }
    .tab__title {
        font-size: 12px;
        margin-bottom: 0;
    }
    .tab__text {
        font-size: 10px;
    }
}
@media(max-width: 425.98px) {
    .main__services {
        padding-top: 170px;
    }
    .main__tab {
        max-width: 250px;
        margin: 2px;
    }
    .tab__img {
        max-width: 220px; 
    }
    .tab__title {
        font-size: 15px;
        margin-bottom: 2px;
    }
}

/* INFO */

.main__info {
    background-image: url('../images/main/main_info/main_info.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.info__title {
    margin-bottom: 40px;
    color: #fff;
    padding: 20px 0px;
}

.text__block {
    display: flex;
    justify-content: center;
    color: #fff;
    padding-bottom: 40px;
}

.info__text-block_1, .info__text-block_2 {
    max-width: 420px;
    background-color: rgb(31, 29, 29);
    border-radius: 15px;
    border: 5px solid #beae74;
    margin: 0px 20px;
}

.text__content-subtitle {
    font-size: 30px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.info__item {
    margin-bottom: 20px;
}
.info-ico {
    width: 40px;
}

.botom__text-block {
    background-color: #111111;
    width: 100%;
}

.info__sub-text {
    text-align: center;
    color: #fff;
    padding: 10px 0px 10px 0px;
    line-height: 140%;
    letter-spacing: 2px;
}

@media(max-width: 991.98px) {
    .info__title {
        margin-bottom: 20px;
    }
    .info__text-block_1, .info__text-block_2 {
        max-width: 320px;
        margin: 0px 10px;
    }
}
@media(max-width: 768.98px) {
    .info__title {
        margin-bottom: 10px;
    }
    .info__text-block_1, .info__text-block_2 {
        max-width: 280px;
    }
    .text__content-subtitle {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }
    .info-ico {
        width: 30px;
    }
}
@media (max-width: 650.98px) {
    .info__title {
        margin-bottom: 0;
    }
    .text__block {
        flex-direction: column;
        align-items: center;
    }
    .info__text-block_1, .info__text-block_2 {
        max-width: 280px;
        margin-bottom: 5px;
    }
}
/* ABOUT */
main {
    background-image: url('../images/main/about_bg.jpg');
}

.main__about {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 3px solid #beae74;
    border-top: 3px solid #beae74;
    box-shadow: 60px 18px 17px #000;
}

.about__title {
    margin-bottom: 30px;
}

.about__subtitle {
    font-size: 30px;
    margin-bottom: 20px;
}

.about__subtitle img {
    width: 30px;
    margin-right: 10px;
}

.about__text img {
    width: 20px;
}

.button__about {
    margin: 30px 0px 30px 0px;
    font-size: 40px;
    border-radius: 30px;
}

.text__button-about {
    font-weight: bold;
}
@media(max-width: 425.98px) {
    .button__about {
        font-size: 30px;
    }
}

/* ========================================================================
MODAL */

form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    backdrop-filter: blur(10px);
    z-index: 100;
    padding: 20px 0;
    display: none;
    animation-duration: 1s;
    animation-name: form;
}

@keyframes form {
    from {
      top: 100%;
      width: 100%;
    }
  
    to {
      top: 0%;
      width: 100%;
    }
  }

.active {
    display: flex;
}

.modal__inner {
    position: relative;
    z-index: 150;
    background: #ffffff;
    box-shadow: 20px 20px 40px #000;
    border-radius: 15px;
    padding: 60px 40px 60px 40px;
    margin: auto auto;
}

.modal__inner-header {
    font-weight: 500;
    font-size: 35px;
    line-height: 117%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.modal__inner-items {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal__item {
    width: 650px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input__item {
    width: 320px;
    min-height: 40px;
    border: 1px solid #A2A2A2;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 114%;
    padding-left: 10px;
}

.input__item:focus {
    box-shadow: 0 0 15px #7f956b;
}

.input__item.error {
    box-shadow: 0 0 15px red;
}

.input__tel {
    width: 100%;
    min-height: 40px;
    border: 1px solid #A2A2A2;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 114%;
    padding-left: 10px;
}

.modal__message {
    border: 1px solid #A2A2A2;
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    line-height: 114%;
    padding: 20px;
    resize: none;
}

.user-message {
    margin-bottom: 15px;
    color: red;
}
.user-message.success {
    color: #000;
}

.modal__policy {
    font-size: 16px;
    display: flex;
    margin: 0px 0px 40px 2px;
}

.modal__checkbox {
    margin-right: 5px;
    width: 20px;
    height: 15px;
}

.modal__checkbox.error {
    box-shadow: 0 0 15px red;
}

.modal__link {
    text-decoration: underline;
    color: blue;
}

.modal__button {
    font-size: 20px;
}
.modal__button:hover {
    background-color: #1b1d0e;
}

.close__modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.close__modal:hover {
    color: rgb(78, 76, 76);
}

@media(max-width: 768.98px) {
    .modal__inner {
        padding: 50px 40px 50px 40px;
    }
    .modal__inner-header {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .modal__item {
        width: 470px;
    }
    .input__item {
        width: 230px;
        font-size: 15px;
    }
    .input__tel {
        font-size: 15px;
    }
    .modal__message {
        font-size: 15px;
    }
    .input__item.error {
        border: 2px solid red;
    }
    .modal__checkbox.error::before {
        content: "___";
        color: red;
    }
}
@media (max-width: 580.98px) {
    .modal__inner {
        padding: 20px 30px 20px 30px;
    }
    .modal__inner-header {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .modal__item {
        width: 640px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
        width: 320px;
    }
    .modal__input {
        margin-bottom: 10px;
    }
    .input__item {
        width: 320px;
    }
    .modal__policy {
        font-size: 12px;
        margin: 0px 0px 20px 2px;
    }
    .modal__button {
        font-size: 18px;
    }
}
@media (max-width: 425.98px) {
    .modal__inner {
        padding: 10px 20px 10px 20px;
    }
    .modal__inner-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .modal__item {
        width: 640px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
        width: 260px;
    }
    .modal__input {
        margin-bottom: 10px;
    }
    .input__item {
        width: 260px;
    }
    .user-message {
        margin-bottom: 10px;
    }
    .modal__policy {
        font-size: 10px;
        margin: 0px 0px 10px 2px;
    }
    .modal__checkbox {
        width: 10px;
        height: 10px;
    }
    .modal__button {
        font-size: 16px;
    }
    .close__modal {
        top: 10px;
        right: 15px;
        font-size: 20px;
    }
}
/* ========================================================================
FOOTER */
.footer {
    background-color: #000;
    width: 100%;
    margin: 0 auto;
}
.footer__container {

}

.footer__contacts {
    padding: 20px 0px 20px 0px;
}

.contact__items {
    color: #fff;
    align-items: center;
    display: flex;
}
.contact__items-icon {
    color: #fff;
    align-items: center;
    display: none;
}

.contact__item {
    margin-right: 40px;
}

.footer__number {
    color: #beae74;
    margin-left: 10px;
}

.footer__link {
    color: #fff;
    margin-left: 10px;
}
.footer__link img {
    margin-right: 10px;
}
.item_z {
    align-items: center;
}

.button__footer {
    background-color: rgb(250, 250, 250);
    border: 3px solid #beae74;
    color: #000;
}
.button__footer:hover {
    background-color: #beae74;
}


@media(max-width: 1200.98px) {
    .contact__item {
        margin-right: 20px;
    }
}
@media(max-width: 991.98px) {
    .contact__item {
        margin-right: 10px;
        font-size: 10px;
    }
}
@media(max-width: 450.98px) {
    .contact__item {
        margin-right: 0;
        font-size: 10px;
    }
    .button__footer {
        padding: 6px 6px;
        font-size: 7px;
    }
}
@media(max-width: 375.98px) {
    .contact__item img {
        width: 20px;
    }
    .button__footer {
        padding: 4px 4px;
        font-size: 5px;
    }
}